
nav{
    border-bottom: 2px solid #aaaa;
    background: #2c3e50;
    color: #fff !important;
}

.font-bold
{
    font-weight: bold !important;
}

.main {
    padding:0px;
}

.text-right
{
    text-align: right;
}

.row-fix
{
    float: right;
    padding-right: 10px;
}

.a-fix-table
{
    margin-right: 10px;
}