
nav{
    border-bottom: 2px solid #aaaa;
    background: #2c3e50;
    color: #fff !important;
}

.font-bold
{
    font-weight: bold !important;
}

.main {
    padding:0px;
}

.text-right
{
    text-align: right;
}

.row-fix
{
    float: right;
    padding-right: 10px;
}

.a-fix-table
{
    margin-right: 10px;
}

.hpBlocks{
	margin-top: 30px;
	text-align: center;
	font-size: x-large;
}

.hpBlocks a {
	color: #fff;
}

.bg-Green{
	background-color: #00b894;
}

.bg-Blue{
	background-color: #74b9ff;
}

.bg-Purple{
	background-color: #a29bfe;
}

.bg-Red{
	background-color: #ff7675;
}

.bg-Yellow{
	background-color: #fdcb6e;
}