nav{
    border-bottom: 2px solid #aaaa;
    background: #2c3e50;
    color: #fff !important;
}

.font-bold
{
    font-weight: bold !important;
}

.main {
    padding:0px;
}

.text-right
{
    text-align: right;
}

.row-fix
{
    float: right;
    padding-right: 10px;
}

.a-fix-table
{
    margin-right: 10px;
}

.hpBlocks{
	text-align: center;
	font-size: 1.6rem;
}

.hpBlocks a {
	color: #fff;
}

.col-sm-3{
		margin-top: 30px;
}

.bg-Green{
	background-color: #00b894;
}

.bg-Blue{
	background-color: #74b9ff;
}

.bg-Purple{
	background-color: #a29bfe;
}

.bg-Red{
	background-color: #ff7675;
}

.bg-Yellow{
	background-color: #fdcb6e;
}

.navIcon{
	margin: 5px;
}


.ui-group-buttons .btn{
	float:left;border-radius:0
}

.progress {
	margin-top: 5px;
    position: relative;
	height: 25px;
	width: 80%;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 5px 30px 3px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}

.hours {
	display: flex;
}

.hour {
	display: inline-flex;
	padding: 0;
}

.form-popup {
  display: none;
  border: 3px solid #f1f1f1;
  z-index: 9;
  padding: 5px;
}

.button_cancel {
	float: right;
	padding: 0px;
}

.hoursInput {
	width: 60px;
	margin-right: 5px;
	border-radius: 0.25rem;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
}

.hoursInputButton {
	display: flex;
	width: 155px;
	margin-left: 5px;
}